<template>
    <div class="card-body">
        <div class="mt-3 table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Name</th>
                    <th scope="col" class="align-middle">Email</th>
                    <th scope="col" class="align-middle">Mobile</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        <pagination class="pt-3" align="center" size="small" :data="response.data.data"
                                    @pagination-change-page="getResults">
                        </pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>
<script>
import api from '../../Api.js'

export default {
    props: ['token'],
    data() {
        return {
            users: [],
            response: ''
        }
    },
    mounted() {
        this.api = new api(this.token)
        this.api.get('users').then(response => {
            this.response = response;
            this.users = response.data.data.data;
        });
    },
    methods: {

        incrementCounter() {
            this.count += 1;
        },
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.api.get('users?page=' + page).then(response => {
                this.response = response;
                this.users = response.data.data.data;
            });
        }
    }
}
</script>
