<template>
    <div class="container-fluid" v-show="selectedClient && selectedClient.id !== null">
        <div class="card">
            <div class="card-header">
                <h4>Selected Client</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><label>Customer Name: </label>{{ selectedClient.first_name }} {{ selectedClient.last_name }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><label>Phone Number: </label> {{ selectedClient.mobile }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><label>CNIC: </label> {{ selectedClient.cnic }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><label>Email: </label> {{ selectedClient.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ['selectedClient'],
}
</script>
<style>

</style>
