<template>
    <div>
        <b-row>
            <b-col>
                <b-button v-b-modal.add-client-modal class="btn btn-success float-right btn-round"><b>Add New Client</b>
                </b-button>
            </b-col>
            <b-modal id="add-client-modal" size="lg" title="Add New Client" :hide-footer="true">
<!--                 @reset="onReset"-->
                <b-form >
                    <b-row>
                        <b-col>
                            <b-form-group
                                id="input-group-1"
                                label="First Name:"
                                label-for="firstname"
                            >
                                <b-form-input
                                    id="firstname"
                                    v-model="form.first_name"
                                    type="text"
                                    placeholder="Enter First Name"
                                    required
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group
                                id="input-group-1"
                                label="Last Name:"
                                label-for="lastname">
                                <b-form-input
                                    id="lastname"
                                    v-model="form.last_name"
                                    type="text"
                                    placeholder="Enter Last Name"
                                    required
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group
                                id="input-group-1"
                                label="Email address:"
                                label-for="input-1"
                                description="We'll never share your email with anyone else."
                            >
                                <b-form-input
                                    id="input-1"
                                    v-model="form.email"
                                    type="email"
                                    placeholder="Enter email"
                                    required
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group id="input-group-2" label="Mobile Number:" label-for="input-2">
                                <b-form-input
                                    id="input-2"
                                    v-model="form.mobile"
                                    placeholder="Mobile Number"
                                    required
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group id="cnic-form" label="CNIC:" label-for="cnic">
                                <b-form-input
                                    id="cnic"
                                    v-model="form.cnic"
                                    placeholder="CNIC"
                                    required
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group id="image-form" label="Image:" label-for="image">
                                <input type="file" class="form-control" v-on:change="onFileChange">
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group id="address-form" label="Address:" label-for="address">
                                <b-form-textarea
                                    id="address"
                                    v-model="form.address"
                                    placeholder="Enter Address..."
                                    rows="3"
                                    max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
                    <b-row>
                        <b-col class="align-end">
                            <b-button type="submit" @click="onSubmit" variant="primary">Submit</b-button>
                            <b-button type="reset" variant="danger">Reset</b-button>
                        </b-col>
                    </b-row>
            </b-modal>

<!--            Update Modal-->

            <b-modal id="update-client-modal" size="lg" title="Update Client" :hide-footer="true">
                <form enctype="multipart/form-data" id="client_form">
                <b-row>
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="First Name:"
                            label-for="firstname"
                        >
                            <b-form-input
                                id="firstname"
                                v-model="form.first_name"
                                type="text"
                                placeholder="Enter First Name"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Last Name:"
                            label-for="lastname">
                            <b-form-input
                                id="lastname"
                                v-model="form.last_name"
                                type="text"
                                placeholder="Enter Last Name"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group
                            id="input-group-1"
                            label="Email address:"
                            label-for="input-1"
                            description="We'll never share your email with anyone else."
                        >
                            <b-form-input
                                id="input-1"
                                v-model="form.email"
                                type="email"
                                placeholder="Enter email"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
                        <b-form-group id="input-group-2" label="Mobile Number:" label-for="input-2">
                            <b-form-input
                                id="input-2"
                                v-model="form.mobile"
                                placeholder="Mobile Number"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group id="cnic-form" label="CNIC:" label-for="cnic">
                            <b-form-input
                                id="cnic"
                                v-model="form.cnic"
                                placeholder="CNIC"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col>
<!--                        <b-form-group id="image-form" label="Image:" label-for="image">-->
                            <input type="file" class="form-control" v-on:change="onFileChange">
<!--                            <b-form-file-->
<!--                                v-model="form.image"-->
<!--                                placeholder="Choose a image or drop it here..."-->
<!--                                drop-placeholder="Drop file here..."-->
<!--                            ></b-form-file>-->
<!--                        </b-form-group>-->
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group id="address-form" label="Address:" label-for="address">
                            <b-form-textarea
                                id="address"
                                v-model="form.address"
                                placeholder="Enter Address..."
                                rows="3"
                                max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="align-end">
                        <b-button type="submit" @click.prevent="onUpdate" variant="primary">Submit</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-col>
                </b-row>
                </form>
            </b-modal>
        </b-row>
<!--        Modals End-->

<!--        Clients List-->
        <div class="card-body">
            <div class="mt-3 table-responsive-sm">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="align-middle">Name</th>
                        <th scope="col" class="align-middle">Email</th>
                        <th scope="col" class="align-middle">Mobile</th>
                        <th scope="col" class="align-middle">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="clients.length > 0" v-for="client in clients" :key="client.id">
                        <td><a @click="clientDetail(client)"> {{ client.first_name }} {{ client.last_name }}</a></td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.mobile }}</td>
                        <td>
                            <button class="btn btn-primary" value="Edit" @click="editClient(client.id)">Edit</button>
                            <button class="btn btn-danger" value="Delete" @click="deleteClient(client.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr v-if="clients.length > 0">
                        <td colspan="4">
                            <pagination class="pt-3" align="center" size="small" :data="response.data.data"
                                        @pagination-change-page="getResults">
                            </pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</template>
<script>
import ClientApiService from '../../ClientApiService';
export default {
    props: ['token'],
    data() {
        return {
            clientApiService: null,
            clients: [],
            response: '',
            file: '',
            form: {
                id: '',
                first_name: '',
                last_name: '',
                email: '',
                mobile: '',
                cnic: '',
                address: '',
                image: [],
                formData: null
            },
            foods: [{text: 'Select One', value: null}, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
            show: true,
        }
    },
    mounted() {
        this.clientApiService = new ClientApiService()
        localStorage.setItem('token', this.token);
        this.getData();
        this.formData = new FormData();

    },
    methods: {
        getData() {
            this.clientApiService.list().then(response => {
                this.response = response;
                this.clients = response.data.data.data;
            }).catch(function (err) {
                console.log(err);
            });
        },
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.clientApiService.list({page}).then(response => {
                this.response = response;
                this.clients = response.data.data.data;
                console.log(this.clients);
            }).catch(function (err) {
                console.log(err);
            });
        },
        onSubmit() {
            for (const field in this.form) {
                if (field === 'image') {
                    continue;
                }
                this.formData.append(field, this.form[field]);
            }

            this.clientApiService.create(this.formData).then(response => {
                this.response = response;
                this.clients = response.data.data;
                if(response.data.status !== 'error') {
                    this.getData();
                    this.$root.$emit('bv::hide::modal', 'add-client-modal')
                }
            }).catch(function (err) {
                console.log(err);
            });
        },
        editClient(id) {
            this.clientApiService.get(id).then(response => {
                this.client = response.data.data
                this.form.id = this.client.id;
                this.form.first_name = this.client.first_name;
                this.form.last_name = this.client.last_name
                this.form.email = this.client.email
                this.form.mobile = this.client.mobile
                this.form.cnic = this.client.cnic
                this.form.address = this.client.address
                this.$root.$emit('bv::show::modal', 'update-client-modal')
            })
                .catch(function (err) {
                    console.log(err);
                });
        },
        onUpdate() {
            for (const field in this.form) {
                if (field === 'image') {
                    continue;
                }
                this.formData.append(field, this.form[field]);
            }
            this.clientApiService.update(this.form.id, this.formData).then(function (res) {
                console.log(res);
                this.getData();
                this.$root.$emit('bv::hide::modal', 'update-client-modal')
            })
                .catch(function (err) {
                    console.log(err);
                });
        },
        deleteClient(id) {
            this.clientApiService.delete(id).then(response => {
                console.log(response);
                this.getData();
            });
        },
        onFileChange(e) {
            this.formData.append('image', e.target.files[0]);
        },
        clientDetail(client) {
            window.location.href = `/clients/${client.id}`;
        }
    }
}
</script>
