<template>
    <div class="container-fluid" v-show="selectedClient && selectedClient.id !== null">
        <div class="client-detail" v-show="!createOrder">
            <ClientDetailComponent :selectedClient="selectedClient"></ClientDetailComponent>
        </div>

        <div class="row">
            <div class="col-2 offset-10">
                <button class="btn" :class="createOrder? 'btn-default' : 'btn-primary'" @click="placeOrder"> {{ createOrder ? 'Cancel' : 'Order' }}</button>
            </div>
        </div>
        <OrderPage v-if="createOrder" :client="selectedClient" :product="product"></OrderPage>
    </div>
</template>
<script>
import clientApiService from '../../ClientApiService'
import Client from '../../Models/Client';
import Product from '../../Models/Product';
import OrderPage from './OrderPage';
import ClientDetailComponent from './ClientDetailComponent';

export default {
    components: {
        OrderPage,
        ClientDetailComponent
    },
    props: ['id'],
    data() {
        return {
            search: '',
            response: null,
            product: null,
            clientApiService: null,
            selectedClient: new Client(),
            createOrder: false,
            product: new Product(),
            token: null
        }
    },
    mounted() {
        this.token = localStorage.getItem('token');
        this.clientApiService = new clientApiService();
        this.getData();
    },
    methods: {
        goBack() {
            window.location.href = `/products`;
        },
        getData() {
            this.clientApiService.get(this.id).then(response => {
                this.selectedClient = new Client(response.data.data);
            });
        },
        placeOrder() {
            this.createOrder = !this.createOrder;
        }
    }
}
</script>
