<template>
    <div class="container-fluid">
        <!--        Product Start-->

        <div class="product-order-container" v-if="selectedProduct.id === null">
            <div class="row">
                <div class="col-md-4 offset-md-8">
                    <i class="glyphicon glyphicon-search"></i><input type="text" name="productsearch"
                                                                     class="form-control" @keyup="getProductList()"
                                                                     v-model="productSearch">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mt-3 table-responsive-sm">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="align-middle">Title</th>
                                <th scope="col" class="align-middle">Price</th>
                                <th scope="col" class="align-middle">Category</th>
                                <th scope="col" class="align-middle">Vendor</th>
                                <th scope="col" class="align-middle">Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="product in products" :key="product.id" v-if="products.length > 0">
                                <td><a @click="selectProduct(product)">{{ product.title }}</a></td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.vendor.name }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" v-if="products.length > 0">
                                    <pagination class="pt-3" align="center" size="small"
                                                :data="productResponse.data.data"
                                                @pagination-change-page="getProductList">
                                    </pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--        PRODUCT lIST End-->

        <!--        Selected Product-->

        <div class="selected-product-container mt-2" v-if="selectedProduct.id !== null">
            <div class="order-product-section order-section">
                <button class="btn btn-round btn-danger order-section-cancel" @click="removeSelectedProduct">x</button>
                <ProductDetailComponent :selectedProduct="selectedProduct"></ProductDetailComponent>
            </div>
        </div>

        <!-- SELECTED PRODUCT END-->

        <div class="create-plan">
            <div class="row mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center mt-3">Make Plan</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" v-model="sale.installment_months" class="form-control"
                                       id="installment_months" placeholder="Enter Installment Months">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" v-model='sale.markup_amount' class="form-control"
                                       id="markup_amount"
                                       placeholder="Markup Amount">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" v-model="sale.advance" class="form-control" id="advance"
                                       placeholder="Down Payment">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <span class="text-left"><label>Monthly Payable: </label> {{ monthlyPayable }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button @click="calculateMonthlyPayable" class="btn btn-primary">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-if="selectedClient.id === null">
            <div class="row">
                <div class="col-md-4 offset-md-8">
                    <input type="text" name="search" @keyup="getClientList()" v-model="search">
                </div>
            </div>
            <div class="col-md-12">
                <div class="mt-3 table-responsive-sm">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">Email</th>
                            <th scope="col" class="align-middle">Mobile</th>
                            <th scope="col" class="align-middle">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="clients.length > 0" v-for="client in clients" :key="client.id">
                            <td>{{ client.first_name }} {{ client.last_name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.mobile }}</td>
                            <td>
                                <button class="btn btn-primary" value="Edit" @click="selectClient(client)">Select
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr v-if="clients.length > 0">
                            <td colspan="4">
                                <pagination class="pt-1" align="center" size="small" :data="response.data.data"
                                            @pagination-change-page="getClientList">
                                </pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3" v-if="selectedClient && selectedClient.id !== null">
            <div class="order-client-section order-section">
                <button class="btn btn-round btn-danger order-section-cancel" @click="removeSelectedClient">x</button>
                <ClientDetailComponent :selectedClient="selectedClient"></ClientDetailComponent>
            </div>
        </div>

        <div class="row payment-container">
            <div class="col-12">
                <div class="" v-for="plan in sale.plans" :key="plan.id">
                    <div class="row">

                        <div class="col-2">
                            {{ plan.installment_date }}
                        </div>
                        <div class="col-2">
                            {{ plan.due_date }}
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" value="2" v-model="plan.payable">
                        </div>
                        <div class="col-2">
                            <i class="badge"> {{ ['unpayed', 'payed', 'partia payed'][plan.status] }}</i>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary" v-if="plan.status != 1" @click="pay(plan)">Pay</button>
                        </div>
                    </div>

                    <h2>Payments</h2>
                    <div class="m-1">
                        <div class="form-inline" v-for="payment in plan.payments" :key="payment.id">
                            <input type="text" v-model="payment.amount_received" class="form-control" />
                            <button type="button" class="btn btn-small" @click="updatePayment(payment)">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button v-if="selectedClient === null" class="btn btn-secondary " @click="goBack">Back</button>
                <button v-if="selectedClient !== null && sale.id === null" class="btn btn-primary" @click="addSale" :disabled="shouldCreateOrder">Create Order</button>
                <button v-if="selectedClient !== null" class="btn btn-secondary" @click="removeSelectedClient">Back
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import ProductDetailComponent from './ProductDetailComponent';
import ProductApiService from '../../ProductApiService'
import PaymentApiService from '../../PaymentApiService'
import Product from '../../Models/Product';
import SaleApiService from '../../SaleApiService';
import ClientApiService from '../../ClientApiService';
import Sale from '../../Models/Sale';
import Client from '../../Models/Client';
import Payment from '../../Models/Payment';
import moment from 'moment'
import ClientDetailComponent from './ClientDetailComponent';

export default {
    components: {
        ClientDetailComponent,
        ProductDetailComponent
    },
    props: {
        product: {
            type: Object,
            default() { return new Product(); }
        },
        client: {
            type: Object,
            default () { return new Client(); }
        },
        sale: {
            type: Object,
            default () { return new Sale(); }
        },
    },
    data() {
        return {
            productSearch: '',
            search: '',
            productResponse: null,
            clients: [],
            products: [],
            response: null,
            monthlyPayable: null,
            createPlan: false,
            productApiService: null,
            selectedProduct: null,
            saleApiService: null,
            clientApiService: null,
            paymentApiService: null,
            selectedClient: null,
            token: null,
            placeOrder: false,
            selectedPayment : new Payment()
        }
    },
    mounted() {
        console.log('client',this.product, this.client);
        this.token = localStorage.getItem('token');
        this.productApiService = new ProductApiService();
        this.saleApiService = new SaleApiService();
        this.clientApiService = new ClientApiService();
        this.paymentApiService = new PaymentApiService();
        this.selectedProduct = this.product;
        this.selectedClient = this.client;
        this.getClientList(1);
        this.getProductList(1);
        // this.getData();
    },
    methods: {
        getProductList(page) {
            let search = this.productSearch
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.productApiService.list({page, search}).then(response => {
                this.productResponse = response;
                this.products = response.data.data.data;
            });
        },
        selectProduct(product) {
            this.selectedProduct = new Product(product);
        },
        getClientList(page) {
            let search = this.search
            this.clientApiService.list({page, search}).then(response => {
                this.response = response;
                this.clients = response.data.data.data;
            }).catch(function (err) {
                console.log(err);
            });
        },
        goBack() {
            window.location.href = `/products`;
        },
        // getData() {
        //     if(this.selectedProduct.id){
        //         this.productApiService.get(this.selectedProduct.id).then(response => {
        //             this.product = new Product(response.data.data);
        //         });
        //     }else if
        //
        // },
        calculateMonthlyPayable() {
            console.log(this.sale.markup_amount, parseInt(this.selectedProduct.price));
            this.sale.amount_with_markup = parseInt(this.sale.markup_amount) + parseInt(this.selectedProduct.price)
            console.log(this.sale);
            let data = {
                advance: this.sale.advance,
                installment_months: this.sale.installment_months,
                amount_with_markup: this.sale.amount_with_markup
            };
            this.saleApiService.calculate(data).then(response => {
                this.monthlyPayable = response.data.data
            })

            this.getClientList();
        },
        selectClient(client) {
                this.selectedClient = new Client(client);
        },
        removeSelectedClient() {
            this.selectedClient = null;

            this.selectedClient = new Client();
        },
        addSale() {
            this.placeOrder = true;
            this.sale.client = this.selectedClient;
            this.sale.product = this.product;
            this.sale.price = this.product.price;
            this.sale.installment_date = this.currentDate();
            this.sale.purchase_date = this.currentDate();
            this.sale.setProduct(this.selectedProduct);
            this.saleApiService.create(this.sale.getRequestFormData()).then(response => console.log(response));
        },
        currentDate() {
            const current = new Date();
            const date = moment(current).format("YYYY-MM-DD HH:mm:ss")
            return date;
        },
        removeSelectedProduct(){
            this.selectedProduct = null;
            this.selectedProduct = new Product;
        },
        pay(plan){
            console.log({plan});
            this.selectedPayment = null;
            this.selectedPayment = new Payment(plan);

            //this.selectedPayment.amount = this.payable(this.selectedPayment);
            this.paymentApiService.create(this.selectedPayment.getRequestFormData()).then(response => console.log(response));
            console.log(plan)
        },
        payable(plan) {
            return plan.amount - plan.total_payed;
        },
        updatePayment(payment) {
            return this.paymentApiService.update(payment.id, payment).then(response => console.log(response));
        }
    },
    computed : {
    shouldCreateOrder(){
        return this.selectedClient.id === null || this.selectedProduct.id === null || this.monthlyPayable === null;
    }
    }
}
</script>
<style>
.order-section {
    position: relative;
}
.order-section-cancel{
    position: absolute;
    z-index: 2;
    right: 25px;
    top: 10px;
}
</style>
