<template>
    <div class="container-fluid" v-if="selectedProduct && selectedProduct.id !== null">
        <div class="card">
            <div class="card-header">
                <h4>Selected Product</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 col-sm-12 align-items-center" v-if="selectedProduct.images.length > 0">
                        <img :src="'../storage/product/' +  selectedProduct.images[0].image" alt="" class="text-center"
                             width="100px"
                             height="100px">
                    </div>
                    <div class="col-md-3">
                        <p><label>Title: </label>{{ selectedProduct.title }}</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p><label>Category: </label> {{ selectedProduct.category.name }}</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p><label>Price: </label> {{ selectedProduct.price }}</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p><label>Quantity: </label> {{ selectedProduct.quantity }}</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p><label>Size: </label> {{ selectedProduct.properties.size }}</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p><label>Color:</label> {{ selectedProduct.properties.color }}</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p><label>Model:</label> {{ selectedProduct.properties.model }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ['selectedProduct'],
}
</script>
<style>

</style>
