<template>
    <div class="container-fluid" v-if="product">
        <div class="row" v-show="!createOrder">
            <div class="col-md-10 col-sm-12">
                <h3 class="text-center">Selected Product</h3>
                <h4>{{ product.title }}</h4>
            </div>
            <div class="col-md-2 col-sm-12 align-items-center" v-if="product.images.length > 0">
                <img :src="'../storage/product/' +  product.images[0].image" alt="" class="text-center" width="100px"
                     height="100px">
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <p><label>Category: </label> {{ product.category.name }}</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p><label>Price: </label> {{ product.price }}</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p><label>Quantity: </label> {{ product.quantity }}</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p><label>Size: </label> {{ product.properties.size }}</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p><label>Color:</label> {{ product.properties.color }}</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p><label>Model:</label> {{ product.properties.model }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-10">
                <button class="btn" :class="createOrder? 'btn-default' : 'btn-primary'" @click="placeOrder"> {{ createOrder ? 'Cancel' : 'Order' }}</button>
            </div>
        </div>
        <OrderPage v-show="createOrder" :product="product"></OrderPage>
    </div>
</template>
<script>
import ProductApiService from '../../ProductApiService'
import Product from '../../Models/Product';
import OrderPage from './OrderPage';

export default {
    components: {
        OrderPage
    },
    props: ['id', 'someFunctionParent', 'token'],
    data() {
        return {
            sale: null,
            search: '',
            clients: [],
            response: null,
            product: null,
            monthlyPayable: null,
            createPlan: false,
            productApiService: null,
            saleApiService: null,
            clientApiService: null,
            selectedClient: null,
            createOrder: false,
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);
        this.productApiService = new ProductApiService();
        this.getData();
    },
    methods: {
        goBack() {
            window.location.href = `/products`;
        },
        getData() {
            this.productApiService.get(this.id).then(response => {
                this.product = new Product(response.data.data);
            });
        },
        placeOrder() {
            this.createOrder = !this.createOrder;
        },
        cancleOrder() {
            this.createOrder = false;
        }

    }
}
</script>
