<template>
    <div>
        <form >
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" v-model="selectedProduct.title" class="form-control" id="name" placeholder="Enter Name">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" v-model='selectedProduct.category.name' class="form-control" id="category" placeholder="Category">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" v-model="selectedProduct.price" class="form-control" id="price" placeholder="Enter Price">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" v-model="selectedProduct.properties.color" class="form-control" id="color" placeholder="Enter Color">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" v-model="selectedProduct.properties.model" class="form-control" id="model" placeholder="Enter Model">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="selectedProduct.properties.size" id="size" placeholder="Enter Size">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" v-model="selectedProduct.quantity" class="form-control" id="quantity" placeholder="Enter Quantity">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="selectedProduct.vendor.name" id="vendor" placeholder="Enter Vendor">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <textarea class="form-control" v-model="selectedProduct.content" name="content"></textarea>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="file" class="form-control" id="image" v-on:change="onFileChange">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-3 offset-md-9">
                    <button type="button" @click="createProduct" class="btn btn-primary ">Submit</button>
                    <button type="button" class="btn btn-secondary" @click="resetForm">Clear</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="card-body">
            <div class="mt-3 table-responsive-sm">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Price</th>
                        <th scope="col" class="align-middle">Category</th>
                        <th scope="col" class="align-middle">Vendor</th>
                        <th scope="col" class="align-middle">Quantity</th>
                        <th scope="col" class="align-middle">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="product in products" :key="product.id" v-if="products.length > 0">
                        <td><a @click="productDetail(product)" >{{ product.title }}</a></td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.vendor.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <button class="btn btn-primary" @click="selectProduct(product)">Edit</button>
                            <button class="btn btn-danger" @click="deleteProduct(product)">Delete</button>
                            <button class="btn btn-info" @click="productDetail(product)">Order</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" v-if="products.length > 0">
                            <pagination class="pt-3" align="center" size="small" :data="response.data.data"
                                        @pagination-change-page="getResults">
                            </pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import ProductApiService from '../../ProductApiService'
import Product from '../../Models/Product';

export default {
    props: ['token'],
    data() {
        return {
            products: [],
            selectedProduct: new Product(),
            response: null,
            productApiService: null
        }
    },
    mounted() {
        this.productApiService = new ProductApiService();
        localStorage.setItem('token', this.token);
        this.getData();
    },
    methods: {

        getData() {
            this.productApiService.list().then(response => {
                this.response = response;
                this.products = response.data.data.data;
            });
        },
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.productApiService.list({page}).then(response => {
                this.response = response;
                this.products = response.data.data.data;
            });
        },
        createProduct() {

            if (this.selectedProduct.id !== null) {
                this.productApiService.update(this.selectedProduct.id, this.selectedProduct.addMethodKeyInRequest('PUT').getRequestFormData());
            } else {
                this.productApiService.create(this.selectedProduct.getRequestFormData()).then(response => console.log(response));
            }
            this.resetForm();
        },
        selectProduct(product) {
            this.selectedProduct = new Product(product);
        },
        deleteProduct(product) {
            this.productApiService.delete(product.id);
        },
        resetForm() {
            this.selectedProduct = new Product();
        },
        onFileChange(e) {
            this.selectedProduct.appendImage('images[]', e.target.files[0]);
        },
        productDetail(product) {
            window.location.href = `/product/${product.id}`;
        }
    }
}
</script>
