<template>
    <div>
        <div class="card-body">
            <div class="mt-3 table-responsive-sm">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="align-middle">Client</th>
                        <th scope="col" class="align-middle">Product</th>
                        <th scope="col" class="align-middle">Price</th>
                        <th scope="col" class="align-middle">Advance</th>
                        <th scope="col" class="align-middle">Installment Date</th>
                        <th scope="col" class="align-middle">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="sales.length === 0">
                        <td colspan="6">
                            <p class="center">No Record Found</p>
                        </td>
                    </tr>
                    <tr v-for="sale in sales" :key="sale.id" v-if="sales.length > 0">
                        <td>{{ sale.client.first_name }}</td>
                        <td>{{ sale.product.title }}</td>
                        <td>{{ sale.price }}</td>
                        <td>{{ sale.advance }}</td>
                        <td>{{ sale.installment_date }}</td>
                        <td>
                            <button class="btn btn-primary" @click="selectSale(sale)">Edit</button>
                            <button class="btn btn-danger" @click="deleteProduct(sale)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
<!--                    <tr>-->
<!--                        <td colspan="6" v-if="sales.length > 0">-->
<!--                            <pagination class="pt-3" align="center" size="small" :data="response.data.data"-->
<!--                                        @pagination-change-page="getResults">-->
<!--                            </pagination>-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tfoot>
                </table>
            </div>
        </div>
        <OrderPage v-if="selectedSale.id" :sale="selectedSale" :product="selectedSale.product" :client="selectedSale.client"></OrderPage>
    </div>
</template>
<script>
import SaleApiService from '../../SaleApiService'
import Sale from '../../Models/Sale';
import OrderPage from './OrderPage';

export default {
    components: {
        OrderPage
    },
    props: ['token'],
    data() {
        return {
            sales: [],
            editOrder: false,
            selectedSale: new Sale(),
            response: null,
            saleApiService: null
        }
    },
    mounted() {
        this.saleApiService = new SaleApiService();
        localStorage.setItem('token', this.token);
        this.getData();
    },
    methods: {

        getData() {
            this.saleApiService.list().then(response => {
                this.response = response;
                if(response.data.data.length > 0){
                    this.sales = response.data.data.map(sale => new Sale(sale));
                }
            });
        },
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.saleApiService.list({page}).then(response => {
                this.response = response;
                this.sales = response.data.data;
            });
        },
        createProduct() {

            if (this.selectedSale.id !== null) {
                this.saleApiService.update(this.selectedSale.id, this.selectedSale.addMethodKeyInRequest('PUT').getRequestFormData());
            } else {
                this.saleApiService.create(this.selectedSale.getRequestFormData()).then(response => console.log(response));
            }
            this.resetForm();
        },
        selectSale(sale) {

            this.editOrder = true
            this.selectedSale = new Sale(sale);
        },
        deleteProduct(sale) {
            this.saleApiService.delete(sale.id);
        },
        resetForm() {
            this.selectedSale = new Sale();
        },
    }
}
</script>
